.editprofile{
    position:absolute;
    top:0;
    left:0;
    height: 1400px;
    
    width: 100%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 80, 204, 0.507);
    z-index:10;
}

.editprofile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding:4rem;
    background: #615dfa;
    border-radius:10px;
    margin:1rem 0;
    color:white;
    text-align: center;
    letter-spacing: 1px;;
    font-weight: 500;
    text-transform: capitalize;
    
   
}
.editprofile-head{
    display: flex;
    justify-content: space-between;
    min-width:50%;
    padding:5px 0;
}
.editprofile-headtitle{
    font-size:1.5rem;
    text-align: center;

}

.editprofile-headclose{
    background-color: cornflowerblue;
    border:1px solid black;
    padding:5px;
    border-radius: 50%;
    height:30px;
    width: 30px;
    font-weight: 900;
    color:crimson

}
.editprofile-avatar{
    width:150px;
    height:150px;
    padding:1rem 0;
    position: relative;
    
}
i {
    
position: absolute;
bottom:25%;
right:20%;
font-size:x-large;
color:#4e4ac8;
background-color: rgba(27, 27, 27, 0.568);
width:25%;
height:20%;
vertical-align: center;
border-radius: 10px;
opacity: 0;
padding:1rem;


}

.editprofile-avatar:hover i{
    opacity:1;
}
.editprofile-avatar img {
    height: 100%;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.editprofile-userdata{
    padding:1rem 1rem;
    /* background-color: darkblue; */
    margin-top: 1rem;
    width:100%;
}
.editprofile-userdatafullname, .editprofile-userdataaddress, .editprofile-userdatawebsite
, .editprofile-userdataphone, .editprofile-userdatastory{
    padding:.5rem;
    display: flex;
    background-color:#4e4ac8;
    border-radius: 10px;
    margin:.5rem;
    color:white;
}
.editprofile-userdatapara{
    font-size: small;
    color:white;
}
.editprofile-userdatabutton{
    width:90%;
    height:2rem;
    background-color:#4e4ac8;
    border-radius: 10px;
    margin-top:.5rem;
    border:2px solid white; 

}
input{
    background-color: transparent;
    outline:none;
    width: 100%;
    border-radius: 5px;
    border:none;
    color:white;
}



