.globalcard{
    max-width:250px;
    min-height:400px;
    margin:1rem;
    
   
}

.globalcard-contentbottombtn{
    width:100px;
    height:25px;
    margin:auto;
    transform: translateX(75%);
    border: 3px solid rgb(108, 34, 168);
    border-radius:10px;
    background-color: cornflowerblue;
    color:white;
}
.globalcard-content{
    background-color: rgb(255, 255, 255);
    width:100%;
    height:400px;
    border-radius:10px;
    position:relative;
    
}
.globalcard-contentbottomabout{
    padding:1rem;
}
.globalcard-contentbottomabout-story{
    font-size: 10px;
    font-weight: 500;
    text-align: justify;
}
.globalcard-contentbottomabout-email{
    text-align: center;
    padding:2px;
    font-size: 1rem;
}
.globalcard-contentbottomabout-website{
    text-align: center;
    text-decoration: underline;
}
.globalcard-contentbottomnavigate{
    position: absolute;
    bottom:5%;
    left:45%;
    color: coral;
    cursor: pointer;
}

.globalcard-contenttop{
    width:250px;
    height:130px;

}
.globalcard-contentbottomstat h6{
    text-align: center;
    font-size:1rem;
    font-weight: 700;
}
.globalcard-contentbottomstat p{
    text-align: center;
    font-size:1rem;
    font-weight: 400;
    
}

.globalcard-contentbottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

}
.globalcard-contentbottomgender{
    padding:0 7rem;
}
.globalcard-contentbottomgender .MuiSvgIcon-root{
    font-size: 2rem;
    
}
.globalcard-contentmiddleinfo{
    margin-top: 2.8rem;
    text-align: center;
    
}
.globalcard-contentmiddleinfo h4{
    font-size:1.3rem;
    font-weight: 700;
}
.globalcard-contentmiddleinfo h6{
    font-size:10px;
    font-weight:300
}
.globalcard-contentmiddle{
    position:relative;
}
.globalcard-contentmiddle img{
 width:90px;
 height:90px;
 border-radius: 50%;
 position: absolute;
 top:50%;
 right:30%;
 transform: translateY(-50%);
border: 4px solid white;
object-fit: cover;
}

.globalcard-contenttop img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;

}

.globalcard-contentmiddleinfo{
    color:brown
}

